PORT=3000
CORS_ORIGIN=http://localhost:5173 # frontend url


MONGODB_URI=
MONGODB_DB_NAME=


RATE_LIMIT_WINDOW_MS=600000 # 10 minutes
RATE_LIMIT_MAX_REQUESTS=100


BCRYPT_ROUNDS=10

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=


SENSEI_ID=anirban
SENSEI_PASSWORD=123456